@use "./variables.scss" as *;
html,
body {
  background-color: #1b1b1b;
  font:
    100%/1.5 "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    margin-top: 1rem;
  }
}
.code {
  font-family: "Courier New", monospace;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
button {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  outline: none;
}
button:hover {
  filter: drop-shadow(0 0 2em #20639b);
  padding-right: 2rem;
  padding-left: 2rem;
}
textarea {
  width: calc(100vw - 8rem);
  height: 110px;
  background-color: transparent;
  border-radius: 5px;
  resize: none;
  margin-top: 1rem;
  color: #43aaff;
  padding: 1rem;
}
p {
  font-size: 1rem;
  color: $font;
}
.app {
  background-color: #282c34;
  text-align: center;
}

// BOLT_SAMPLECODE_START

.stack-icons {
  color: $font;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 2.5rem;
  }
}

.logo {
  height: 4rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo-lg {
  height: 6rem;
}
.read-the-docs {
  color: #888;
}
.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin-right: 0.5rem;
  }
}

.stack-colors {
  display: flex;
  flex-direction: row;

  div {
    height: 0.75rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    transition: 1rem;
    background-color: black;
  }
}
.stack-colors-a {
  background-color: var(--uxp-host-background-color) !important;
}
.stack-colors-b {
  background-color: var(--uxp-host-text-color) !important;
}
.stack-colors-c {
  background-color: var(--uxp-host-border-color) !important;
}
.stack-colors-d {
  background-color: var(--uxp-host-link-text-color) !important;
}
.stack-colors-e {
  background-color: var(--uxp-host-widget-hover-background-color) !important;
}
.stack-colors-f {
  background-color: var(--uxp-host-widget-hover-text-color) !important;
}
.stack-colors-g {
  background-color: var(--uxp-host-widget-hover-border-color) !important;
}
.stack-colors-h {
  background-color: var(--uxp-host-text-color-secondary) !important;
}
.stack-colors-i {
  background-color: var(--uxp-host-link-hover-text-color) !important;
}
.stack-colors-j {
  background-color: var(--uxp-host-label-text-color) !important;
}

// BOLT_SAMPLECODE_END
