main {
  display: flex;
  flex-direction: column;
  > * {
    margin-top: 1rem;
  }
}
.code {
  font-family: "Courier New", monospace;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
}
button:hover {
  border: none;
}
p {
  font-size: 1rem;
}
.app {
  background-color: #282c34;
  text-align: center;
}

.stack-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 2.5rem;
  }
}

.logo {
  height: 5rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo-lg {
  height: 6rem;
}
.read-the-docs {
  color: #888;
}
.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin-right: 0.5rem;
  }
}
