@use "./variables.scss" as *;
html,
body {
  height: 100vh;
  background-color: #242424;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    margin-top: 1rem;
  }
}
.code {
  font-family: "Courier New", monospace;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.6em 1.2em;
}
button:hover {
  border: none;
}
p {
  font-size: 1rem;
  color: $font;
}
.app {
  background-color: #282c34;
  text-align: center;
}

// BOLT_SAMPLECODE_START

.stack-icons {
  color: $font;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 2.5rem;
  }
}

.logo {
  height: 5rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo-lg {
  height: 6rem;
}
.read-the-docs {
  color: #888;
}
.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin-right: 0.5rem;
  }
}

.stack-colors {
  display: flex;
  flex-direction: row;

  div {
    height: 0.75rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    transition: 1rem;
    background-color: black;
  }
}
.stack-colors-a {
  background-color: var(--uxp-host-background-color) !important;
}
.stack-colors-b {
  background-color: var(--uxp-host-text-color) !important;
}
.stack-colors-c {
  background-color: var(--uxp-host-border-color) !important;
}
.stack-colors-d {
  background-color: var(--uxp-host-link-text-color) !important;
}
.stack-colors-e {
  background-color: var(--uxp-host-widget-hover-background-color) !important;
}
.stack-colors-f {
  background-color: var(--uxp-host-widget-hover-text-color) !important;
}
.stack-colors-g {
  background-color: var(--uxp-host-widget-hover-border-color) !important;
}
.stack-colors-h {
  background-color: var(--uxp-host-text-color-secondary) !important;
}
.stack-colors-i {
  background-color: var(--uxp-host-link-hover-text-color) !important;
}
.stack-colors-j {
  background-color: var(--uxp-host-label-text-color) !important;
}

// BOLT_SAMPLECODE_END

// BOLT_WEBVIEW_START

.webview-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  background-color: $darkest;
}
// BOLT_WEBVIEW_END
