$darkest: #222222;
$darker: #333333;
$dark: #444444;
$font: #bbbbbb;
$highlight: #aaaaaa;

$primary: #88715a;
$secondary: #4a3928;

$active: #20639b;
$changed: #3caea3;
$warning: #f6d55c;
$error: #ed553b;

// Polyfill CSS Vars

html {
  @media (prefers-color-scheme: dark) {
    --uxp-host-background-color: #535353;
    --uxp-host-text-color: #ffffff;
    --uxp-host-border-color: #454545;
    --uxp-host-link-text-color: #4b9cf5;
    --uxp-host-widget-hover-background-color: #5b5b5b;
    --uxp-host-widget-hover-text-color: #ffffff;
    --uxp-host-widget-hover-border-color: #5b5b5b;
    --uxp-host-text-color-secondary: #e5e5e5;
    --uxp-host-link-hover-text-color: #ffffff;
    --uxp-host-label-text-color: #ffffff;
  }

  @media (prefers-color-scheme: darkest) {
    --uxp-host-background-color: #323232;
    --uxp-host-text-color: #ffffff;
    --uxp-host-border-color: #292929;
    --uxp-host-link-text-color: #4b9cf5;
    --uxp-host-widget-hover-background-color: #3d3d3d;
    --uxp-host-widget-hover-text-color: #ffffff;
    --uxp-host-widget-hover-border-color: #3d3d3d;
    --uxp-host-text-color-secondary: #9b9b9b;
    --uxp-host-link-hover-text-color: #ffffff;
    --uxp-host-label-text-color: #ffffff;
  }

  @media (prefers-color-scheme: light) {
    --uxp-host-background-color: #b8b8b8;
    --uxp-host-text-color: #424242;
    --uxp-host-border-color: #9c9c9c;
    --uxp-host-link-text-color: #4b9cf5;
    --uxp-host-widget-hover-background-color: #9d9d9d;
    --uxp-host-widget-hover-text-color: #424242;
    --uxp-host-widget-hover-border-color: #9d9d9d;
    --uxp-host-text-color-secondary: #424242;
    --uxp-host-link-hover-text-color: #424242;
    --uxp-host-label-text-color: #424242;
  }

  @media (prefers-color-scheme: lightest) {
    --uxp-host-background-color: #f0f0f0;
    --uxp-host-text-color: #4b4b4b;
    --uxp-host-border-color: #d1d1d1;
    --uxp-host-link-text-color: #4b9cf5;
    --uxp-host-widget-hover-background-color: #cecece;
    --uxp-host-widget-hover-text-color: #4b4b4b;
    --uxp-host-widget-hover-border-color: #cecece;
    --uxp-host-text-color-secondary: #606060;
    --uxp-host-link-hover-text-color: #4b4b4b;
    --uxp-host-label-text-color: #4b4b4b;
  }
}
